local/
src/Windows*/.vs/
src/Windows*/Debug/
src/Windows*/Release/
src/Mac/MRTPlugin.xcodeproj/xcuserdata/
src/Mac/MRTPlugin.xcodeproj/project.xcworkspace/xcuserdata/
example/Plugins/
tests/Plugins/

example/example
tests/tests

*.VC.db
*.byc
*.dll
*.exe
*.opendb
*.app
*.so
